.login-container {
    display: flex;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #CF996C;

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes fadeDown {
      from {
        transform: translateY(-50px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .login-left {
      flex: 0.7;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .image-container {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .dark-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(56, 56, 56, 0.3);
        z-index: 1;
      }

      .login-image {
        max-width: 100%;
        height: auto;
        animation: fadeIn 0.5s ease-in-out;
      }

      .logo-top-right {
        position: absolute;
        top: 20px;
        left: 20px;
        max-width: 120px;
        height: auto;
        animation: fadeIn 1s ease-in-out;
      }
    }

    .login-right {
      flex: 1.3;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #CF996C;
      animation: fadeDown 0.8s ease-in-out;
    }

    .login-title {
      font-size: 25px;
      padding-left: 150px;
      text-align: left;
      margin-bottom: 30px;
      color: #F8F1E5;
    }

    .success-message {
        color: #F8F1E5;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .error-message {
      font-size: 10px;
      position: relative;
      color: #F8F1E5;
      margin-top: 5px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .form-group {
      position: relative;
      width: 65%;
      margin-bottom: 20px;
    }

    .input-label {
      position: absolute;
      top: 16px;
      left: 14px;
      font-size: 10px;
      color: #9e9d9a;
      transition: all 0.3s ease;
      pointer-events: none;
    }

    .form-control {
      width: 100%;
      padding: 14px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 13px;
      box-sizing: border-box;
      color: #363535;
      background-color: #F8F1E5;
      transition: all 0.3s ease;
    }

    .form-control::placeholder {
      color: transparent;
    }

    .form-control:focus + .input-label,
    .form-control:not(:placeholder-shown) + .input-label {
      top: -13px;
      left: -1px;
      font-weight: 300;
      font-size: 12px;
      color: #fff;
    }

    .form-control:focus {
      border-color: #DBAF7E;
      box-shadow: 0 0 5px #DBAF7E;
    }

    .form-control:hover {
      border-color: #DBAF7E;
      background-color: #F8F1E5;
    }

    .submit-button {
      width: 65%;
      padding: 14px;
      background-color: #DBAF7E;
      color: #F8F1E5;
      border: none;
      border-radius: 25px;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
    }

    .submit-button:hover {
      background-color: #CF996C;
    }

    .register-link {
      margin-top: 20px;
      text-align: center;
      cursor: pointer;

      p {
        margin-bottom: 5px;
        color: #F8F1E5;
        font-size: 14px;
      }

      a {
        color: #F8F1E5;
        text-decoration: none;
        font-weight: 510;
      }

      a:hover {
        text-decoration: underline;
      }
    }
}
