<div class="landing-page">
    <header>
        <!--ayusin mo nalang yung sa may path ng mga links salamat-->
      <h1>MealHub</h1>
    </header>
  
    <section class="intro">
        <div class="intro-text">
          <h2>Organize your meals with ease</h2>
          <p>Discover thousands of recipes and plan your meals effortlessly.</p>
          <button class="cta-button" [routerLink]="['/meal-planner']">Start Planning</button>
        </div>
        <div class="intro-image">
          <img src="assets/images/brooke-lark-jUPOXXRNdcA-unsplash.jpg" alt="Meal Planning" />
        </div>
      </section>
      
  
    <section class="features">
      <h2>Features</h2>
      <div class="feature-list">
        <div class="feature-item">
          <h3>Easy Meal Planning</h3>
          <p>Plan your meals and create shopping lists effortlessly.</p>
        </div>
        <div class="feature-item">
          <h3>Explore Recipes</h3>
          <p>Browse and save your favorite recipes from around the world.</p>
        </div>
      </div>
    </section>
  </div>
  